<!DOCTYPE html>
<html lang="pt-BR" ng-app="bubbleApp">
	<head>
		<base href="/app/">
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">

	    <title>Bubble Talk - Seja muito bem vindo!</title>

	    <!-- Bootstrap Core CSS -->
	    <link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    
	    <link href="../libs/angular-ui-notification/angular-ui-notification.css" rel="stylesheet">

	    <link href="css/style.css" rel="stylesheet">

	    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
	<body ng-controller="mainCtrl">
	    <!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <!-- <a class="navbar-brand" href="#">
	                    <img src="http://placehold.it/150x50&text=Logo" alt="">
	                </a> -->
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav navbar-right">
	                    <li class="suaconta-list">
	                        <a href="javascript:void(0)" ui-sref="suaConta">
								<img ng-src="<%=foto_perfil%>">
		                        <p><%=nome%></p>
	                        </a>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>

		<!-- Modal Loader -->
		<div id="modal-loader" class="modal fade" role="dialog" modal-loader modal-visible="showDialog" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog">		
				<div class="loadersmall"></div>
			</div>
		</div>
	    
	    <!-- Page Content -->
	    <section ui-view></section>
	</body>
		<script>uid="<%=_id%>";</script>
		<script type="text/javascript" src="../libs/jquery/jquery.js"></script>
	    <script type="text/javascript" src="../libs/bootstrap/js/bootstrap.min.js"></script>
	    <script type="text/javascript" src="../libs/angular/angular.js"></script>
		<script type="text/javascript" src="../libs/angular-ui-router/angular-ui-router.js"></script>
		
		<script type="text/javascript" src="../libs/angular-ui-notification/angular-ui-notification.js"></script>
		
		<script type="text/javascript" src="../libs/socket.io/socket.io.js"></script>

		<script type="text/javascript" src="../libs/angular-socket-io/socket.js"></script>

		<script type="text/javascript" src="js/app.js"></script>

		<!-- Configs -->
		<script type="text/javascript" src="js/configs/routeConfig.js"></script>
		<script type="text/javascript" src="js/configs/notificationConfig.js"></script>
		<!-- Services -->
		<script type="text/javascript" src="js/services/SocketFactory.js"></script>
		<script type="text/javascript" src="js/services/Api.js"></script>
		<!-- Directives -->
		<script type="text/javascript" src="js/directives/modalLoader.js"></script>
		<!-- Controllers -->
		<script type="text/javascript" src="js/controllers/mainCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/appsCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/novoChatCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/novoAgenteCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/listaAgenteCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/suaContaCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/appCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/dashboardCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/conversasCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/equipeCtrl.js"></script>
		<script type="text/javascript" src="js/controllers/configuracaoCtrl.js"></script>
</html>