<div class="container">
    <div class="row">
        <div class="col-lg-12">
			<div class="page-header">
				<h1><span>Listagem de Chats</span></h1>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<div class="form-group">
						<a href="javascript:void(0)" ui-sref="novoChat" class="btn btn-primary form-control">Novo Chat</a>
					</div>
				</div>
			</div>
        	<a ui-sref="app({id:chat._id})" ng-repeat="chat in chats">
	        	<div class="panel panel-default">
	        		<div class="panel-body">
	        			<h4>{{chat.dados.appname}}</h4><small style="color: #666">{{chat._id}}</small>
	        		</div>
	        	</div>
        	</a>
        	<div ng-if="!chats.length">
        		<div class="jumbotron">
        			<h2>Sem chats por aqui :(</h2>
        		</div>
        	</div>
        	<div ui-view></div>
        </div>
    </div>
</div>