<div class="page-header">
	<h1>Conversas</h1>
</div>
<div class="row">
	<div class="col-md-9">
		<div class="chat-window">	
			<ul>
				<li ng-repeat="message in messages track by $index">
					<span class="username"><strong>{{message.username}}</strong></span>
					<span class="message">{{message.message}}</span>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-md-3 user-window">
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="user in users">{{user}}</li>
		</ul>
	</div>
</div>
<div class="row">
	<form class="form-horizontal" name="messageForm">
		<div class="form-group">
			<div class="col-md-12">
				<div class="col-sm-9">
					<input type="text" class="form-control" placeholder="Coloque sua mensagem aqui ..." ng-model="msg">
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-primary form-control" ng-click="sendMessage(msg)">Enviar Mensagem</button>
				</div>
			</div>
		</div>
	</form>
</div>