
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Experimente Grátis - Chat em Tempo Real Bubble Talk</title>

		<!-- Bootstrap Core CSS -->
		<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="/site/css/style.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Custom Fonts -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>

    <div class="container">
      <form action="/auth/experimente-gratis" method="post" name="loginForm" class="form-signin">
        <div class="page-header">
        	<h2 class="form-signin-heading text-center">Experimente Grátis</h2>
        </div>
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Seu email" name="email" required autofocus>
        <label for="inputPassword" class="sr-only">Senha</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Sua senha" name="senha" required>
        <div class="form-group">
        	<button class="btn btn-warning btn-block" type="submit">Cadastrar</button>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <a href="/login">Ja possui uma conta? Faça login!</a>
          </div>
        </div>
      </form>
    </div> <!-- /container -->
  </body>
</html>