
<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Login - Chat em Tempo Real Bubble Talk</title>

		<!-- Bootstrap Core CSS -->
		<link href="/libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link href="./site/css/style.css" rel="stylesheet">

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<!-- Custom Fonts -->

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="container text-center">
			<div class="jumbotron">
				<div class="page-header">
					<h2 class="form-signin-heading">Volte Sempre!</h2>
				</div>
				<ul class="list-inline">
					<li>
						<a href="/login" class="btn btn-default">Login</a>
					</li>
					<li>
						<a href="/">Site</a>
					</li>
					<li>
						<a href="/experimente-gratis">Experimente Grátis</a>
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>